[gerrit]
	basePath = git
[database]
	type = H2
	database = db/ReviewDB
[auth]
	type = DEVELOPMENT_BECOME_ANY_ACCOUNT
[sendemail]
	smtpServer = localhost
[container]
	user = RDCCAIY
	javaHome = C:\\Program Files\\Java\\jre6
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
[gitweb]
	cgi = c:/Program Files/git/share/gitweb/gitweb.bat
[commentlink "githubissue"]
        match = "issue\\s+#?(\\d+)"
        link = "https://github.com/larrycai/gerrit-demo/issues/$1"  
